<ng-template #loading>
    <div class="loading">Loading bio...</div>
</ng-template>

<ng-template #links>
    <div class="links" [hidden]="!(bioBehaviorSubject$ | async)">
        <a [routerLink]="['/people']" queryParamsHandling="merge" title="RETURN TO PEOPLE">
            RETURN TO PEOPLE</a>
    </div>
</ng-template>

<div *ngIf="(bioBehaviorSubject$ | async) as bio; else loading;">
    <h1>{{bio.person.name}}</h1>
    <img [src]="bio.person.picture" [alt]="bio.person.name">
</div>

<ng-container *ngTemplateOutlet="links;">
</ng-container>