// Custom
@import "../../../../themes/mixins.scss";

:host {
  display: block;
  height: 100%;
  @include loading();
  @include card();

  cdk-virtual-scroll-viewport {
    display: block;
    height: 100%;
  }
}
