@mixin loading($min-height: 100px) {
    .loading {
        display: block;
        margin-top: 50px;
        text-align: center;
        color: #272133;
        font-size: 24px;
        min-height: $min-height;
    }
}

@mixin card() {
    .container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 50px;
        justify-content: center;
        text-align: center;
    }

    .card {
        background-color: #222831;
        height: auto;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.7);
        color: white;
    }

    .card__name {
        margin-top: 15px;
        font-size: 1.5em;
    }

    .card__image {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        border: 5px solid #272133;
        margin-top: 20px;
        box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
    }

    .draw-border {
        box-shadow: inset 0 0 0 4px #58cdd1;
        color: #58afd1;
        -webkit-transition: color 0.25s 0.0833333333s;
        transition: color 0.25s 0.0833333333s;
        position: relative;
    }

    .draw-border::before,
    .draw-border::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: "";
        pointer-events: none;
        position: absolute;
        width: 0rem;
        height: 0;
        bottom: 0;
        right: 0;
    }

    .draw-border::before {
        border-bottom-width: 4px;
        border-left-width: 4px;
    }

    .draw-border::after {
        border-top-width: 4px;
        border-right-width: 4px;
    }

    .draw-border:hover {
        color: #ffe593;
    }

    .draw-border:hover::before,
    .draw-border:hover::after {
        border-color: #eb196e;
        -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
        transition: border-color 0s, width 0.25s, height 0.25s;
        width: 100%;
        height: 100%;
    }

    .draw-border:hover::before {
        -webkit-transition-delay: 0s, 0s, 0.25s;
        transition-delay: 0s, 0s, 0.25s;
    }

    .draw-border:hover::after {
        -webkit-transition-delay: 0s, 0.25s, 0s;
        transition-delay: 0s, 0.25s, 0s;
    }

    .btn {
        background: none;
        border: none;
        cursor: pointer;
        line-height: 1.5;
        font: 700 1.2rem "Roboto Slab", sans-serif;
        padding: 0.75em 2em;
        letter-spacing: 0.05rem;
        margin: 1em;
        width: 13rem;
    }

    .btn:focus {
        outline: 2px dotted #55d7dc;
    }

    .social-icons {
        padding: 0;
        list-style: none;
        margin: 1em;
    }

    .social-icons li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1em;
    }

    .social-icons i {
        color: #fff;
        position: absolute;
        top: 0.95em;
        left: 0.96em;
        transition: all 265ms ease-out;
    }

    .social-icons a {
        display: inline-block;
    }

    .social-icons a:before {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        content: " ";
        width: 45px;
        height: 45px;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #ff003c, #c648c8);
        transition: all 265ms ease-out;
    }

    .social-icons a:hover:before {
        transform: scale(0);
        transition: all 265ms ease-in;
    }

    .social-icons a:hover i {
        transform: scale(2.2);
        -ms-transform: scale(2.2);
        -webkit-transform: scale(2.2);
        color: #ff003c;
        background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 265ms ease-in;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        font-size: 1.2em;
    }
}

@mixin card-detail {
    .card {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 250px;
        height: 400px;
        border-radius: 10px;
        box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
        background: #151515;
        overflow: hidden;
        .ds-top {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            left: 0;
            width: 300px;
            height: 80px;
            background: crimson;
            animation: dsTop 1.5s;
        }
        .avatar-holder {
            position: absolute;
            margin: auto;
            top: 40px;
            right: 0;
            left: 0;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000;
            background: white;
            overflow: hidden;
            animation: mvTop 1.5s;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .name {
            position: absolute;
            margin: auto;
            top: -60px;
            right: 0;
            bottom: 0;
            left: 0;
            width: inherit;
            height: 40px;
            text-align: center;
            animation: fadeIn 2s ease-in;
            a {
                color: white;
                text-decoration: none;
                font-weight: 700;
                font-size: 18px;
                &:hover {
                    text-decoration: underline;
                    color: crimson;
                }
            }
            h6 {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                bottom: 0;
                color: white;
                width: 40px;
            }
        }
        .button {
            position: absolute;
            margin: auto;
            padding: 8px;
            top: 20px;
            right: 0;
            bottom: 0;
            left: 0;
            width: inherit;
            height: 40px;
            text-align: center;
            animation: fadeIn 2s ease-in;
            outline: none;
            a {
                padding: 5px 20px;
                border-radius: 10px;
                color: white;
                letter-spacing: 0.05em;
                text-decoration: none;
                font-size: 10px;
                transition: all 1s;
                &:hover {
                    color: white;
                    background: crimson;
                }
            }
        }
        .ds-info {
            position: absolute;
            margin: auto;
            top: 120px;
            bottom: 0;
            right: 0;
            left: 0;
            width: inherit;
            height: 40px;
            display: flex;
            .pens,
            .projects,
            .posts {
                position: relative;
                left: -300px;
                width: calc(250px / 3);
                text-align: center;
                color: white;
                animation: fadeInMove 2s;
                animation-fill-mode: forwards;
                h6 {
                    text-transform: uppercase;
                    color: crimson;
                }
                p {
                    font-size: 12px;
                }
            }
            .ds {
                &:nth-of-type(2) {
                    animation-delay: 0.5s;
                }
                &:nth-of-type(1) {
                    animation-delay: 1s;
                }
            }
        }
        .ds-skill {
            position: absolute;
            margin: auto;
            bottom: 10px;
            right: 0;
            left: 0;
            width: 200px;
            height: 100px;
            animation: mvBottom 1.5s;
            h6 {
                margin-bottom: 5px;
                font-weight: 700;
                text-transform: uppercase;
                color: crimson;
            }
            .skill {
                h6 {
                    font-weight: 400;
                    font-size: 8px;
                    letter-spacing: 0.05em;
                    margin: 4px 0;
                    color: white;
                }
                .fab {
                    color: crimson;
                    font-size: 14px;
                }
                .bar {
                    height: 5px;
                    background: crimson;
                    text-align: right;
                    p {
                        color: white;
                        font-size: 8px;
                        padding-top: 5px;
                        animation: fadeIn 5s;
                    }
                    &:hover {
                        background: white;
                    }
                }
                .bar-html {
                    width: 95%;
                    animation: htmlSkill 1s;
                    animation-delay: 0.4s;
                }
                .bar-css {
                    width: 90%;
                    animation: cssSkill 2s;
                    animation-delay: 0.4s;
                }
                .bar-js {
                    width: 75%;
                    animation: jsSkill 3s;
                    animation-delay: 0.4s;
                }
            }
        }
    }

    @keyframes fadeInMove {
        0% {
            opacity: 0;
            left: -300px;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes htmlSkill {
        0% {
            width: 0;
        }
        100% {
            width: 95%;
        }
    }

    @keyframes cssSkill {
        0% {
            width: 0;
        }
        100% {
            width: 90%;
        }
    }

    @keyframes jsSkill {
        0% {
            width: 0;
        }
        100% {
            width: 75%;
        }
    }

    @keyframes mvBottom {
        0% {
            bottom: -150px;
        }
        100% {
            bottom: 10px;
        }
    }

    @keyframes mvTop {
        0% {
            top: -150px;
        }
        100% {
            top: 40px;
        }
    }

    @keyframes dsTop {
        0% {
            top: -150px;
        }
        100% {
            top: 0;
        }
    }

    .following {
        color: white;
        background: crimson;
    }
}
