<cdk-virtual-scroll-viewport [itemSize]="700" *ngIf="(biosBehaviorSubject$ | async) as bios"
    [class.loading]="(isLoadingBehaviorSubject$ | async)">
    <div class="container" *cdkVirtualFor="let biosRow of biosBehaviorSubject$; let indexRow = index;">
        <div class="card" *ngFor="let bio of biosRow; let indexRow = index;">
            <img [src]="bio.picture" [alt]="bio.name" class="card__image">
            <p class="card__name">{{bio.name}}</p>
            <div class="grid-container">
                <div class="grid-child-posts">
                    {{compensationBio(bio.compensation)?.periodicity}}
                </div>
                <div class="grid-child-followers">
                    {{compensationBio(bio.compensation)?.amount}} {{compensationBio(bio.compensation)?.currency}}
                </div>
            </div>
            <ul class="social-icons">
                <li *ngFor="let skill of bio.skills; last as last">{{skill.name}}{{!last ? ', ': ''}}</li>
            </ul>
            <a class="btn draw-border" [routerLink]="['.', bio.username]" queryParamsHandling="merge"
                [title]="bio.professionalHeadline">BIO</a>
        </div>
    </div>
</cdk-virtual-scroll-viewport>

<div class="loading" *ngIf="(isLoadingBehaviorSubject$ | async)">
    <mat-spinner></mat-spinner>
</div>