<ng-template #loading>
    <div class="loading">Loading opportunities...</div>
</ng-template>

<div class="container" *ngIf="(opportunitiesBehaviorSubject$ | async) as opportunities; else loading">
    <div class="card" *ngFor="let opportunity of opportunities; index as index; trackBy: trackByFunction;">
        <img [src]="opportunity.organizations[0].picture" [alt]="opportunity.organizations[0].name" class="card__image">
        <p class="card__name">{{opportunity.objective}}</p>
        <div class="grid-container">
            <div class="grid-child-posts">
                {{opportunity.compensation.data?.periodicity}}
            </div>
            <div class="grid-child-followers">
                {{opportunity.compensation.data?.minAmount}} {{opportunity.compensation.data?.currency}}
            </div>
        </div>
        <ul class="social-icons">
            <li *ngFor="let skill of opportunity.skills; last as last">{{skill.name}}{{!last ? ', ': ''}}</li>
        </ul>
        <a class="btn draw-border" [routerLink]="['/jobs', opportunity.id]" queryParamsHandling="merge"
            [title]="opportunity.objective">JOB</a>
    </div>
</div>