<ng-template #loading>
    <div class="loading">Loading opportunity...</div>
</ng-template>

<ng-template #links>
    <div class="links" [hidden]="!(opportunityBehaviorSubject$ | async)">
        <a [routerLink]="['/jobs']" queryParamsHandling="merge" title="RETURN TO OPPORTUNITIES">
            RETURN TO OPPORTUNITIES</a>
    </div>
</ng-template>

<div *ngIf="(opportunityBehaviorSubject$ | async) as opportunity; else loading;">
    <h1>{{opportunity.objective}}</h1>
    <h3>{{opportunity.organizations[0]?.name}}</h3>
    <img *ngIf="opportunity.attachments && opportunity.attachments[0]?.address" [src]="opportunity.attachments[0]?.address" [alt]="opportunity.organizations[0]?.name">
</div>

<ng-container *ngTemplateOutlet="links;">
</ng-container>