<ng-template #loading>
    <div class="loading">Loading people...</div>
</ng-template>

<div class="container" *ngIf="(biosBehaviorSubject$ | async) as bios; else loading">
    <div class="card" *ngFor="let bio of bios; index as index; trackBy: trackByFunction;">
        <img [src]="bio.picture" [alt]="bio.name" class="card__image">
        <p class="card__name">{{bio.name}}</p>
        <div class="grid-container">
            <div class="grid-child-posts">
                {{compensation(bio.compensation)?.periodicity}}
            </div>
            <div class="grid-child-followers">
                {{compensation(bio.compensation)?.amount}} {{compensation(bio.compensation)?.currency}}
            </div>
        </div>
        <ul class="social-icons">
            <li *ngFor="let skill of bio.skills; last as last">{{skill.name}}{{!last ? ', ': ''}}</li>
        </ul>
        <a class="btn draw-border" [routerLink]="['/bio', bio.username]" queryParamsHandling="merge"
            [title]="bio.professionalHeadline">BIO</a>
    </div>
</div>